<html>
<head>
	<title>Bootstrap Part 5 : Membuat jumbotron dengan Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>	
	<div class="container">
		<div class="jumbotron">
			<h1>www.malasngoding.com</h1> 
			<p>
				Tutorial pemrograman web, mobile dan design. <br/>
				Belajar Jumbotron bootstrap di malasngoding.com. <br/>
				Cara Membuat jumbotron pada  dengan Bootstrap | www.malasngoding.com.			
			</p> 
			<p>
				<button class="btn btn-lg btn-primary">Tutorial</button>
				<button class="btn btn-lg btn-danger">Demo</button>
			</p>
		</div>
		
	</div>
</body>
</html>